<!DOCTYPE html>
<!--[if lt IE 9 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=<%= htmlWebpackPlugin.options.viewportWidth %>, initial-scale=1"> -->

        <!-- Prevent mobile Safari from making phone numbers -->
        <meta name="format-detection" content="telephone=no">

        <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
            <title>Scratch - <%= htmlWebpackPlugin.options.title %></title>
        <% } %>

        <!-- Favicon & CSS normalize -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/lib/normalize.min.css" />

        <!-- Polyfills -->
        <script src="/js/polyfill.min.js"></script>
    </head>

    <body>
        <div id="app"></div>

        <!-- Vendor & Initialize (Session & Localization)-->
        <script src="/<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>

        <!-- Scripts -->
        <script src="/js/<%= htmlWebpackPlugin.options.route.name %>.intl.js"></script>
        <script src="/<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.route.name].entry %>"></script>

        <!-- wo 怎么看不到
        <div style="width: 100%; height: 100%;">
            <iframe style="width: 100%; height: 100%;" src="https://d.xiumi.us/stage/v5/4IDOS/212369903#/"></iframe>
        </div> -->
    </body>
</html>
